<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color"  content="#4285f4">

  <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
  <link rel="icon" href="/favicon_io/favicon.ico" type="image" >
  <link rel="manifest" href="/favicon_io/site.webmanifest">
  <meta name="robots" content="index, follow">
  <title><%= titles %> - Dailyratlam</title>
  <meta name="description" content="<%= description %>">
  <meta name="keywords" content="<%= keywords %>">
  
  <link rel="canonical" href="<%= canonicalUrl %>">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">

  <nav class="navbar ">
    <div class="">
      
      <div class="navbar-header">

          <a href="/"><p class="navbar-brand">DAILY RATLAM</p></a>

      <div class="menu-toggle" id="menu-toggle">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      </div>
      <div id="myTopnav">
       
        <ul class="nav navbar-nav navbar-right nav-links"   id="nav-links">
          <!-- 6 -->
          <li id="home"><a href="/"> HOME</a></li>
          <li id="about"><a href="/about">ABOUT US</a></li>
          <li id="contact"><a href="/contact">CONTACT US</a></li>
          <li id="contact"><a href="/blog">BLOGS</a></li>
         

        </ul>
      </div>
      
    </div>
  </nav>

  <body>
    
