<%- include("partials/header") -%>
<h1>Compose</h1>
<form action="/compose" method="post">
    <label>Title</label>
    <input class="useri" type="text" name="usertext" id="">
    <label>Image</label>
    <input class="useri" type="text" name="imgtext" id="">
    <label>Post</label>
    <textarea class="useri2" name="postbody" id="" cols="" rows="5"></textarea>
    <label>Heading 2</label>
    <input class="useri" type="text" name="usertext2" id="">
    <label>Image2</label>
    <input class="useri" type="text" name="imgtext2" id="">
    <label>Post 2</label>
    <textarea class="useri2" name="postbody2" id="" cols="" rows="5"></textarea>

    <button class="btn btn-primary" name="data" type="submit">Publish</button>
</form>

<%- include("partials/footer") -%>